@charset "utf-8";
/* CSS Document */
/*
color:red !important;/* Firefox、IE7支持
_color:red;  IE6支持
*color:red;  IE6、IE7支持
*+color:red; IE7支持/
color:red\9; IE6、IE7、IE8支持
color:red\0; IE8支持
@media screen and(-webkit-min-device-pixel-ratio:0){} chrome
filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#99000000', EndColorStr='#99000000');
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/templets/ftwcm/images/bg_index.body1.png');_background:none;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight*0.3));
behavior: url(css/PIE.htc);
pointer-events:none;//鼠标穿透
-webkit-animation:0.3s ease-in 1.1s 1 ui;
-webkit-animation-fill-mode:both;
*/

/*
解决safari浏览器添加transform属性对文字的影响
-webkit-font-smoothing: antialiased;
*/
/*--默认--*/
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin:0;padding:0;}
html{_background-image:url(about:blank);_background-attachment:fixed;}
body{line-height:120%; min-height:100px; font-family:"微软雅黑",Arial;font-size:14px; /* min-width:1250px; */  max-width:1920px; margin:0 auto; color:#333;}
ol,ul,li{list-style:none outside none;padding:0;}
a{text-decoration:none !important;color:#333;}
img{border:none;vertical-align:middle;}
table{border-collapse:collapse;}
tr,td,th{padding:0;margin:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal; margin:0; padding:0;}
i,b,strong{font-style:normal;font-weight:normal;}
input,textarea,select{border:1px solid #CCC;font-family:"微软雅黑",Arial;outline:none;border:none;background:none;padding:0;}

input::-ms-clear{display: none;}
input::-ms-reveal{display: none;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #707070; opacity: 1;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#707070;opacity: 1;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#707070;opacity: 1;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#707070;opacity: 1;}
textarea{ resize:none; }


a:focus{outline:none;}
a:hover{ color:#01763a; }

.tran_scale{ overflow:hidden !important; display:block; transform: rotate(0deg); -webkit-transform: rotate(0deg); }
.tran_scale img{transition:all 0.8s; -webkit-transition:all 0.8s;  -moz-transition:all 0.8s; transform:scale(1,1); -webkit-transform:scale(1,1); display:block; }

/*clear 页头，页脚，内容区都不用再加清除样式 */
.fixed:before, .clearfix:before, .cf:before, body:before, .header:before, .main:before, .footer:before { content: ''; display: table }
.fixed:after, .clearfix:after, .cf:after, .header:after, .main:after, .footer:after { content: ''; display: table; clear: both; }
.fixed, .clearfix, .cf, .header, .main, .footer { *zoom: 1 }
.fr{ float:right; }
.fl{ float:left; }
.ellipsis{white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block; }
.wrap{ width:1230px; margin:0 auto; position: relative; z-index:1; }

.body_box{  overflow: hidden; /* min-width:1250px; */ }

/*下拉*/
.select-box { position:relative; background:#fff; color:#474747; }
.select-box dt{ height:100%; }
.select-box dt a { display:block; cursor:pointer; overflow:hidden; position:relative; z-index:2;  height:100%; }
.select-box dt a b { overflow:hidden; height:100%; width:90%; color:#474747; font-size:16px; display:block; text-overflow:ellipsis; white-space:nowrap; font-weight:normal;}
.select-box dd { display:none;}
.select-box dd{ border-radius: 0 0 3px 3px; top:30px; position:absolute; background:#fff; left:0; width:100%; -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3); box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);  behavior: url(css/PIE.htc); border-top:1px solid #4585c4; padding:10px 0; }
.select-box dd a{ text-align:center; cursor:pointer; background:#fff;  display:block; color:#474747; }
.down{ width:28px; height:100%; position:absolute; top:0; right:0; background: url(../image/seclect.png) no-repeat center center;  }
.sc_com{ width:320px;  position:relative; }
.sc_com .select-box{ width:100%; height:50px; line-height:50px;  }
.select-box dd.on{ display: block; }
.select-box dd{ top:50px; }
.select-box dd a{ line-height:20px; padding:5px; text-indent:0; }
.seclect_w.open{ z-index:10; }
.ieopen .select-box{ z-index:11; }
.ie7  .ieopen{ z-index:10; }
.select-box .select_a{ max-height:180px; }
.select-box .mCSB_inside > .mCSB_container{ margin-right:0; }
.select-box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background:#4169a6 !important; }


/*header*/
.menu_h{display: none;}
.header{ position: relative; z-index:999; }
.header .top{ background:#015128; line-height:38px; overflow: hidden; text-align: right; position: relative; z-index:10; }
.header .top a{ padding:0 14px; float: right; color:#fff;  font-size:12px;}
.header .top .en{ text-transform: uppercase; font-family: 'futuramedium'; margin-right: 8px; }
.header .top a.on{ background:#01763a; }


.header .nav{ height:110px;  }
.header .nav .wrap{ padding-top:14px; }
.header .nav .logo{ float: left; width:240px; height:80px; padding:0 55px 0 10px; }
.header .nav .logo img,.header .nav .logo>a{ display: block; height:100%; }
.header .navList{ float: left; }
.header .navList li{ float: left; position: relative; min-width: 94px;}
.header.guke .navList li{min-width:auto;}
.header.guke .navList li .one{padding:0 11px !important;}
.header.guke .navList li.on .one{color:#333333;font-size:22px;}
.header.guke .nav .logo{padding-right:0px;}
.header.guke .return {float:right;height:96px;line-height:96px;}
.header.guke .return  a{font-size:12px;color:#333333;display:inline-block;width:94px;height:28px;line-height:28px;border:1px solid #dedede;border-radius:6px;text-align:center;}
.header .navList li .one{position: relative;display: block; padding:0 15px; line-height:96px; font-size:16px; -webkit-transition:all 0.3s; transition:all 0.3s; }
.header .navList li .one .open{
    display: none;
}
.header .shareNav{ float: right; padding-top:33px; position: relative; }
.header .shareNav>a{ display: block; float: left; margin-left: 10px; font-size:12px; }
.header .shareNav .a1{ border:1px solid #dedede; line-height:30px; width:68px; text-align: center; border-radius:10px;  behavior: url(css/PIE.htc);}
.header .shareBtn{ margin-right: 13px; }

.header .shareNav .a1:hover{ border-color:#01763a; color:#fff; background:#01763a; }
.header .seachBtn{ background:url(../image/head_sea.png) no-repeat center; height:32px; width:32px; }
.header .shareBtn{ background:url(../image/head_share.png) no-repeat center; height:32px; width:32px; }
.header .seachBtn:hover,.header .seachBtn.on{ background-image:url(../image/head_sea1.png); }
.header .shareBtn:hover,.header .shareBtn.on{ background-image:url(../image/head_share1.png); }

.header .share_w{ position: absolute; width:60px; height:215px; background:#fff; right:0; top:96px; -webkit-box-shadow: 0px -2px 10px rgba(0,0,0,0.1); box-shadow: 0px -2px 10px rgba(0,0,0,0.1);  display: none;  behavior: url(css/PIE.htc);}
.header .share_w:before{ content:""; width: 100%; height: 8px; position: absolute; top:-8px; left:0%; background:url(../image/arr.png) no-repeat center; }
.header .share_w .bdsharebuttonbox a{ display: block !important; float: none !important; margin:0 auto !important; padding:0 !important; width:24px !important; height:24px !important;  }
.header .share_w .bdsharebuttonbox { padding-top:18px; }
.header .share_w .bdsharebuttonbox a + a{ margin:15px auto 0 !important; }

.header .share_w .bdsharebuttonbox .popup_sqq{ background:url(../image/qq.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .bds_tsina{ background:url(../image/wb.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .popup_qzone{ background:url(../image/kj.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .popup_tqf{ background:url(../image/xl.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .popup_wx{ background:url(../image/wx-1.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .popup_sqq:hover{ background:url(../image/qq_a.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .bds_tsina:hover{ background:url(../image/wb_a.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .popup_qzone:hover{ background:url(../image/kj_a.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .popup_tqf:hover{ background:url(../image/xl_a.png) no-repeat center !important; }
.header .share_w .bdsharebuttonbox .popup_wx:hover{ background:url(../image/wx.png) no-repeat center !important; }

.share_details{ padding-top:10px; }
.share_details .bdsharebuttonbox .popup_sqq{ background:url(../image/qq.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .bds_tsina{ background:url(../image/wb.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .popup_qzone{ background:url(../image/kj.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .popup_tqf{ background:url(../image/xl.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .popup_wx{ background:url(../image/wx-1.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .popup_sqq:hover{ background:url(../image/qq_a.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .bds_tsina:hover{ background:url(../image/wb_a.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .popup_qzone:hover{ background:url(../image/kj_a.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .popup_tqf:hover{ background:url(../image/xl_a.png) no-repeat center !important; }
.share_details .bdsharebuttonbox .popup_wx:hover{ background:url(../image/wx.png) no-repeat center !important; }


.header .seach_w{ width:200px; height:35px; background:#fff; border:1px solid #cccccc; border-radius:3px; position: absolute; top:105px; right:55px; z-index:10;  display: none; }
.header .inp{ width:140px; padding:0 10px; } 
.header .inp input{ padding:5px 0; line-height:25px; display: block; height:20px; width:100%; }
.header .seach_w .btn_sea{ position: absolute; width:36px; height:100%; background:url(../image/seaInp.png) no-repeat center; right:0; top:0; }

.header .secondNav{ position: absolute; width:162px; left:50%; margin-left:-81px; background:#fff; top:96px; padding:25px 0 10px; -webkit-box-shadow: 0px -2px 10px rgba(0,0,0,0.1); box-shadow: 0px -2px 10px rgba(0,0,0,0.1); opacity:0; visibility: hidden; -webkit-transition:all 0.1s; transition:all 0.1s;  behavior: url(css/PIE.htc);}
.header .secondNav:before{ content:""; width: 100%; height: 8px; position: absolute; top:-8px; left:0%; background:url(../image/arr.png) no-repeat center; }
.header .secondNav a{ display: block; line-height:1.2; padding:0 10px 15px; text-align: center; font-size:14px; -webkit-transition:all 0.3s; transition:all 0.3s; }

.header .secondNav a:hover,.header .secondNav a.on,.header .navList li .one:hover,.header .navList li.on .one{ color:#01763a; }

.pc_displayNone{ display: none; }


.header li:hover .secondNav{ opacity:1; visibility: visible;  -webkit-transition:all 0.3s;  transition:all 0.3s;  }
.ie8 .secondNav{ display: none;  }
.ie8 .header li:hover .secondNav{ display: block; }
/*footer*/
.footer{ background:url(../image/foot.jpg) no-repeat center; background-size:cover; font-size:12px; }
.footer .link{ padding:26px 0; border-bottom:1px solid #585858; color:#b2b2b2; line-height:20px; }
.footer .link .l{ float: left; padding-right: 10px; }
.footer .link .a{ overflow: hidden; }
.footer .link .a a{ color:#b2b2b2; float: left; }
.footer .link .a a{ padding-right: 21px; background:url(../image/foot_1.png) no-repeat right center; margin-right: 21px; }
.footer .link .a a.last{ margin:0; padding:0; background:none; }

.footer .copy { padding:34px 0 30px; }
.footer .copy .siteMap{ overflow: hidden; }
.footer .copy .siteMap a{ color:#b2b2b2; float: left; }
.footer .copy .siteMap a + a{ padding-left: 42px; background:url(../image/foot_1.png) no-repeat 21px center; }

.footer .copy .left{ float: left; width:50%; color:#b2b2b2; line-height:20px;  }

.footer .copy .right{ float: right; text-align: right; color:#b2b2b2; line-height:20px; width:45%; }
.footer .copy .right a{ color:#b2b2b2; }
.copy .address span{ float: left;  }
.copy .address .div{ overflow: hidden; float: none; display: block; }

.rightNav{ position: fixed; right:28px; top:50%; height:520px; margin-top:-175px; z-index:1001; }
.rightNav li{ background:#fff; position: relative; -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2); box-shadow: 0px 0px 10px rgba(0,0,0,0.2); line-height:56px; width:56px; -webkit-transition:all 0.3s; transition:all 0.3s; height:56px; text-align: center; border-radius:3px; margin-bottom: 10px; behavior: url(css/PIE.htc); }
.rightNav li .s1,.rightNav li img,.rightNav li a{ display: block; width:100%; height:100%; }
.rightNav li a{ position: relative; }
.rightNav li .s1{ -webkit-filter:alphha(opacity=100); filter:alphha(opacity=100); -webkit-transition:all 0.3s; transition:all 0.3s; opacity:1; position: absolute; top:0; left:0; }
.rightNav li .s2{ display: inline-block; vertical-align: middle; width:36px; line-height:1.3; font-size:14px; opacity:0; -webkit-filter:alphha(opacity=0); filter:alphha(opacity=0); -webkit-transition:all 0.3s; transition:all 0.3s; visibility: hidden; color:#fff; position: relative; }
.rightNav li .s3{ display: block; opacity:0; -webkit-filter:alphha(opacity=0); filter:alphha(opacity=0); -webkit-transition:all 0.3s; transition:all 0.3s; position: relative; height:100%; visibility: hidden;}

.rightNav li:hover .s3{ opacity:1; -webkit-filter:alphha(opacity=100); filter:alphha(opacity=100); visibility: visible;}
.rightNav li:hover .s2{ opacity:1; -webkit-filter:alphha(opacity=100); filter:alphha(opacity=100); visibility: visible;}
.rightNav li:hover .s1{ opacity:0; -webkit-filter:alphha(opacity=0); filter:alphha(opacity=0); visibility: hidden; }
.rightNav li:hover{ background:#01763a; }

.goto{ display: none; }
.w_1366 .rightNav{ height:350px; margin-top:-175px; right:5px; }
.w_1366 .rightNav li{ width:40px; height:40px; line-height:40px; }
.w_1366 .rightNav li .s2{ font-size:12px; width:30px; }

.rightNav .w .r_ewm{ position: absolute; width:120px; height:293px; top:50%; margin-top:-160px; right: 78px; padding:15px;border-radius:10px; background:#fff;behavior: url(css/PIE.htc); -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2); box-shadow: 0px 0px 10px rgba(0,0,0,0.2); opacity:0; -webkit-filter:alphha(opacity=0); filter:alphha(opacity=0); visibility: hidden; }
.rightNav .w .r_ewm i{ height:100%; right: -8px; position: absolute; width:8px; top:0; background:url(../image/arr2.png) no-repeat center; }
.rightNav .w:hover .r_ewm{ opacity:1; -webkit-filter:alphha(opacity=100); filter:alphha(opacity=100); visibility: visible; }
.w_1366 .rightNav .w .r_ewm{ right: 60px; }
.rightNav .w.li4 .r_ewm{width:135px;height:135px;margin-top:-80px;padding:0;}
@media screen and (min-width:1200px){
    *{ -webkit-box-sizing:content-box !important; box-sizing:content-box !important;  }
}


@media only screen and (min-width:1279px) {
	.tran_scale:hover img{transform:scale(1.05,1.05); -webkit-transform:scale(1.05,1.05); -moz-transform:scale(1.05,1.05);  }
    
}

@media only screen and (max-width:1279px) {
    .header .navList li .open{font-size:40px;color: #5A5A5A;position: absolute;top: 0;right: 13px;font-family: '黑体';cursor: pointer;width: 40px;text-align: right;display: block;}
    .header .navList li .one .open{display: block;}
    .header .navList li.on .open{color: #01763a;}
	.w_1366 .rightNav{ top:auto; bottom:90px; height:auto; margin-top:0; }
	.w_1366 .rightNav li{ display: none; }
    
	.menu_h { display: block; background: none; transition: 0.3s all; -webkit-transition: 0.3s all; border: none; width: 35px; height: 30px; padding: 0; outline: none; position: fixed; right: 10px; top: 58px;  z-index: 2000; }
    .menu_h::before, .menu_h::after, .menu_h span { background: #015128   ; border-radius: 2px; }
    .menu_h::before, .menu_h::after { content: ''; position: absolute; height: 4px; width: 100%; left: 0; top: 50%; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; -webkit-transition: -webkit-transform 0.25s; transition: -webkit-transform 0.25s; transition: transform 0.25s; transition: transform 0.25s, -webkit-transform 0.25s; }
    .menu_h span { position: absolute; width: 100%; height: 4px;  top:50%;  left: 0; overflow: hidden; text-indent: 200%; -webkit-transition: opacity 0.25s; transition: opacity 0.25s; }
    .menu_h::before { -webkit-transform: translate3d(0, -12px, 0); transform: translate3d(0, -12px, 0); }
    .menu_h::after { -webkit-transform: translate3d(0, 12px, 0); transform: translate3d(0, 12px, 0); }
    .menu-open .menu_h span { opacity: 0; }
    .menu-open .menu_h::before { -webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
    .menu-open .menu_h::after { -webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }

    .header{ position: fixed; width:100%; top:0; left:0; background:#fff;  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);}
    .header .nav .logo{ width:auto; height:50px; padding:0 0 0 10px; }
	.header .nav .wrap{ padding:10px 0; }
	.header .nav{ height:auto; }
	.header .navList{ display: none; }
	.header.guke .return {display:none;}
    .header .shareNav{ display: none !important; }
	.header .shareNav{ padding-top:10px; padding-right: 60px;  }
    
    .pc_displayNone{ display: block; }

	body{ padding-top:109px; }
	.guide{ margin-top: -109px;}

    .header .navList{ position: fixed; height:100%; overflow: auto; right: 0; background:rgba(255,255,255,0.95); top:109px; width:100%; display: none; border-top:1px solid #ececec; }
    .header .navList li{ float: none; width:100%; text-align: center; }
    .header .navList li .one{ line-height:60px; }
    .header .navList ul{ padding:60px 0; }
    .header .secondNav{ position: static; display:none; opacity:1; filter:alpha(opacity=100); visibility: visible; background:none; width:100%; -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0); box-shadow: 0px 0px 0px rgba(0,0,0,0); border:1px solid #ececec; border-left:0; border-right:0; margin:0; }
    .header .navList li.on .secondNav{ display: block;  }
    .header .navList .pc_displayNone{ width:80%; background:#015128; margin:0 auto; color:#fff; border-radius:0.1rem; margin-top:0.2rem; }
    .header .navList .pc_displayNone a{ color:#fff;  }
    

    .wrap{ width:984px;  }

    .footer .copy .left,.footer .copy .right{ float: none; text-align: left; width:100%; padding-bottom:10px; }
    .footer .copy .siteMap a{ display: inline-block; float: none; }

    .footer .link .l{ float: none; display: block; }
    .footer .link .a a{ background:none !important; padding:0 20px 0 0 !important;  }

}

@media only screen and (max-width:1024px) {
}

@media only screen and (max-width:1023px) {
    .wrap{ width:710px;  }
}

@media only screen and (max-width:750px) {
    
    .header .navList li .one{ line-height:40px; }
    .header .navList li .open{font-size: 26px;width: 40px;}
    body{ font-size:0.24rem; }
    .header .navList ul{ padding:0.6rem 0; }
    .wrap{ width:auto; padding:0 0.2rem;  }

    .w_1366 .rightNav li{ width:30px; height:30px; }
    .footer .link{ display: none; }
    .copy .address .div b{ display: inline-block; }
    
    .footer .copy .siteMap{ padding-bottom: 5px; }

    .share_details{ display: none; }

}

@media only screen and (max-width:320px) {
    body,.header,.footer,.body_box{ width:320px; }

    .copy .address span{ float: none; }
}